@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }
  body {
    color: white;
    background: black;
  }
} */

@layer base {
  body {
    @apply font-body text-[#000000];
  }
}
@layer components{
  .link {
    @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
  }

  .card{
    @apply mb-5 block rounded-lg border border-gray-100 shadow-md
  }
  .primary-button{
    @apply rounded-full  py-2 px-4 shadow outline-none bg-gradient-to-r from-sky-400 to-blue-500
    text-white
  }
  input,select,textarea{
    @apply rounded border p-2 outline-none ring-[#0B79BF] focus:ring

  }
  .dropdown-link{
    @apply flex p-2 hover:bg-gray-200
  }
}







